#foreach($getter in $GetterExtractor)

#if($getter.javadoc)
	/**
	 * #if($getter.typeName != "boolean" && $getter.typeName != "Boolean" )Get#{else}Is#{end} ${getter.javadoc}
	 *
	 * @return ${getter.javadoc}
	 */
#end
	public ${getter.typeName} ${baseData.className}.#if($getter.typeName != "boolean" && $getter.typeName != "Boolean" )get#{else}is#{end}${getter.fieldNamePascalCase}() {
		return ${getter.fieldName};
	}
#end