package ${baseData.packageName};

#foreach($import in $baseData.imports)
import ${import};
#end
/**
* Generated aspect by JBoilDown
*
* DO NOT MANUALY CHANGE THIS FILE, IT WILL BE OVERIDEN ON COMPILATION
*/
privileged aspect ${baseData.className}_jdb {
#parse("template/getter.vm")
#parse("template/setter.vm")

}
